{#

/**
 * @file
 * Template file for musicworldcarousel module.
<div class="left-nav-btn"></div><div class="right-nav-btn"></div>
<div class="mask" style="position:relative; overflow:hidden; width:100%; height:204px;"></div>
 */
{{ kint(title) }}
#}

    

<div id="wcarousel1" class="outerWrapper">
            {% for item in title %}
            <div class="item"> <img src={{ item }}><img></div>
    {% endfor %}
</div>